/* CompanyList.css */

.main-content {
  padding: 20px;
}

.c-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  flex-wrap: wrap; /* Ensures responsiveness */
}

.company-list-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.table-container {
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
}

.details-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  font-size: larger;
}

.action-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  z-index: 1000;
}

.action-option {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  width: 100%;
  text-align: left;
  background-color: white;
}

.action-option:hover {
  background-color: #f0f0f0;
}

/* Align the Details button to the right */
.details-cell {
  text-align: right;
  padding-right: 16px;
  /* Adjust as necessary for spacing */
}

.add-company-btn {
  background-color: #006AFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.add-company-btn:hover {
  background-color: #3461f3;
}

/* Define styles for the status dots */
.status-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
  border: 2px solid transparent;
  /* Default transparent border */
}

.status.active .status-dot {
  background-color: green;
  border-color: green;
  /* Border color same as background */
}

.status.inactive .status-dot {
  background-color: red;
  border-color: red;
  /* Border color same as background */
}

/* Add more status colors if needed */
.status.pending .status-dot {
  background-color: blue;
  border-color: blue;
  /* Border color same as background */
}

.company-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 50%;
}

body {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px 15px;
  /* border: 1px solid #ddd; */
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background: rgba(0, 106, 255, 0.05);
  color: #006AFF;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

/* Prevent email overflow */
.table td.email-cell {
  text-align: center;
  padding: 12px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px; /* Adjust as necessary */
}

/* Refresh button CSS */

.refresh-btn.spinning svg {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Export button and dropdown */

.export-btn-container {
  position: relative;
  display: inline-block;
}

.export-dropdown {
  display: none; /* Hide by default */
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.export-btn-container:hover .export-dropdown {
  display: block; /* Show on hover */
}

.export-option {
  padding: 8px 16px;
  cursor: pointer;
  white-space: nowrap;
  display: block;
  border: none;
  background: none;
  text-align: left;
  width: 100%;
}

.export-option:hover {
  background-color: #006AFF;
  color: white;
}

/* Other CSS styles */

.filter-btns {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* Ensures responsiveness */
}

.ref-sec {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap; /* Ensures responsiveness */
}

.filter-btn,
.add-company-btn,
.refresh-btn,
.export-btn {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-btn.active {
  background-color: #006AFF;
  color: white;
}

.refresh-btn,
.export-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-company-btn:hover,
.refresh-btn:hover,
.export-btn:hover {
  background-color: #0056b3;
  color: white;
}

/* new css  */

/* new css */

/* Pagination css */

.pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 20px 40px;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
}


/* Responsive styles */

@media (max-width: 768px) {
  .c-btn,
  .t-btn {
    flex-direction: row;
    align-items: flex-start;
  }

  .filter-btns,
  .ref-sec {
    justify-content: space-between;
    width: 100%;
  }

  .filter-btn,
  .add-company-btn,
  .add-tools-btn
  /* .refresh-btn, */
  .export-btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .refresh-btn {
    width: 90px;
    margin-bottom: 10px;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 15px;
  }

  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }

  .table td.email-cell {
    text-align: right;
  }

  .company-image {
    /* display: none; */
    width: 25px;
    height: 25px;
  }
}
