.otp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100vh;
  border-radius: 20px;
  overflow: hidden;
}

.left-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-box img {  
  width: 660px;
  height: 824px;
  object-fit: cover;
  border-radius: 40px;
}

.otp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  /* padding: 40px; */
}

.otp-form .logo {
  width: 100px;
  margin-bottom: 2rem;
}

.otp-form h2 {
  margin: 0;
  font-size: 3rem;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 3rem;
}

.otp-inputs input {
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.otp-inputs input:focus {
  border-color: #007bff;
  outline: none;
}

.submit-btn {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.back-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
  color: #000;
  background: #2222220D;
  transition: background-color 0.3s;
}

.resend-code {
  text-align: center;
  cursor: pointer;
  transition: color 0.3s;
}

.resend-code:hover {
  color: #0056b3;
}



/* Responsive design */
@media (max-width: 768px) {
  .box-area {
    width: 100%;
    flex-direction: column;
  }

  .left-box {
    display: none;
  }

  .otp-form {
    width: 100%;
    padding: 20px;
  }
  .otp-form h2 {
  margin: 0;
  font-size: 2rem;
}
}