/* .t-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  } */

  .tool-icon {
    width: 35px;
    height: 35px;
    padding: 4px;
    background-color: #006AFF;
    color: #fff;
    border-radius: 50px;
  }
  
  .add-tools-btn {
  background-color: #006AFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
  .add-tools-btn:hover {
    background-color: #0056b3;
  }
  
  .tools-list-container {
    margin-top: 20px;
  }

  .details-button {
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
}

.details-button:hover {
  color: #0056b3;
}

.delete:hover {
  color: rgb(219, 43, 43);
}
